@{
    ViewData["Title"] = "About";
}





<div class="mx-5 row m-0" >

    

    @* // First Part *@

    <div class="col-md-12  mb-1 bg-light p-5">

        <div class="row">
            <div class="col-12 w-100 p-2">
                <img src="/images/about2.jpg" alt="about1" class="rounded-4 w-100 h-100" />
            </div>

            <div class="col-12">
                <p class="p-2 display-1 fw-bold">About BookStore</p>
            </div>

            <div class="col-12">
                <p style="font-size:30px;">
                    Bookhaven is your trusted partner in online book delivery. We bring a diverse collection of books to your doorstep, supporting local bookstores and delivery riders. Our mission is to make books accessible to everyone, everywhere.
                </p>
                <p style="font-size:30px;">
                    Founded in 2020, Bookhaven has quickly grown into a beloved service for book lovers across the nation. Our platform offers a seamless experience for discovering new titles and revisiting old favorites. We pride ourselves on our user-friendly interface and our commitment to sustainability, with eco-friendly packaging and carbon-neutral delivery options.
                </p>
                <p style="font-size:30px;">
                    Whether you're looking for the latest bestseller, a classic novel, or a niche genre,
                    Bookhaven has something for everyone. Join our community of readers and explore the world of books like never before.
                </p>
            </div>
        </div>

    </div>

</div>

