@{
    ViewData["Title"] = "ErrorPage";
}



<div class="container">
    <div class="row">
        <div class="col" style="height:50vh">
            <h1 class="text-warning">Error.</h1>
            <h2 class="text-warning">An error occurred while processing your request, Back and try again...</h2>
            <h2 class="text-warning">@ViewBag.ErrorMessage</h2>
        </div>
    </div>
</div>
